<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nuestro Valor</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Pasión</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">El asesoramiento se presta bajo un enfoque proactivo, integral y con la pasión de agregar valor al negocio desde las áreas de “Administración”, “Finanzas” y “Comercial”</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Experiencia</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Esta forma de trabajo tiene sus cimientos en una formación académica integral y en más de 22 años de experiencia en empresas líderes (locales y multinacionales), en las más diversas áreas.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Conocimiento</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Una visión amplia del negocio sin perder nunca el rigor en los aspectos técnicos (ej. en materia tributaria, contable, societaria, etc.).</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Profesionalismo</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Además, se destaca el aporte profesional interdisciplinario y las alianzas profesionales estratégicas para lograr mayor eficiencia y perfección en el resultado.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
