<div class="top">
	<img src="/assets/images/logo_cfr.png" width="150" height="150">
	<span class="titulo">CFR</span><span class="sub-titulo">Consultores</span>
</div>
<!-- Navigation -->
<nav>
	<ul class="nav-bar">
		<li>
			<a href="/">Nuestro Valor</a>
		</li>
		<li>
			<a href="/servicios">Servicios</a>
		</li>
		<li>
			<a href="/profesionales">Profesionales</a>
		</li>
		<li>
			<a href="/alianzas">Alianzas</a>
		</li>
		<li>
			<a href="/contacto">Contacto</a>
		</li>
		<li>
			<a href="/novedades">Novedades</a>
		</li>
	</ul>
</nav>
