<!-- Portfolio Grid Section -->
    <section id="alianzas" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Alianzas</h2>
                    <h3 class="section-subheading text-muted">Colaboraciones interprofesionales</h3>
                </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-6 portfolio-item">
                  <a href="/alianzas/luna-requena-y-fernandez-borzese" class="portfolio-link" data-toggle="modal">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content">
                              <i class="fa fa-plus fa-3x"></i>
                          </div>
                      </div>
                      <img src="img/portfolio/requena-logo.png" class="img-responsive" alt="">
                  </a>
                  <div class="portfolio-caption">
                      <h4>Luna Requena & Fernández Borzese</h4>
                      <p class="text-muted">Abogados Tributaristas</p>
                  </div>
              </div>
              <div class="col-md-6 col-sm-6 portfolio-item">
                  <a href="/alianzas/palou-y-asociados" class="portfolio-link" data-toggle="modal">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content">
                              <i class="fa fa-plus fa-3x"></i>
                          </div>
                      </div>
                      <img src="img/portfolio/palou-logo.png" class="img-responsive" alt="">
                  </a>
                  <div class="portfolio-caption">
                      <h4>Palou & Asoc.</h4>
                      <p class="text-muted">Rosario – Pcia. de Santa Fe</p>
                  </div>
              </div>
            </div>
        </div>
    </section>
