<!-- Services Section -->
    <section id="servicios">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Servicios</h2>
                    <h3 class="section-subheading text-muted">Propuesta de Servicios Profesionales</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                  <a href="/servicios#impuestos">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Impuestos</h4>
                    <p class="text-muted">+ Planificación Fiscal = + Eficiencias $</p>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="/servicios#contabilidad">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Contabilidad</h4>
                    <p class="text-muted">Legal + Herramienta (real) de Gestión del Negocio</p>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="/servicios#comercial">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Comercial</h4>
                    <p class="text-muted">+ Valor para el Negocio + Oportunidades</p>
                </div>
              </a>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                  <a href="/servicios#control-de-gestin">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Control de Gestion</h4>
                    <p class="text-muted">+ Conocimiento y Dominio de Todas las Variables del Negocio</p>
                  </a>
                </div>
                <div class="col-md-6">
                  <a href="/servicios#finanzas">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Finanzas</h4>
                    <p class="text-muted">(-) Costo de Capital de Trabajo + ROI</p>
                  </a>
                </div>
            </div>
        </div>
    </section>
