body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	background-color: #f3f3f3;
	font-size: 14px;
	padding-top: 20px;
	padding-bottom: 20px;
}

body p {
	font-size: 1.3em;
	color: #666;
	margin-bottom: 1.6em;
}

body li {
	list-style-type: square;
	margin: 1em 3em;
	font-size: 1.2em;
}

.row.whole {
	background-color: #fff;
	min-height: 600px;
	padding-bottom: 5em;
}

.row.header {
	background-color: #fff;
	padding: 0;
	text-align: center;
}

.row.footer {
	background-color: #333;
	color: #f3f3f3;
	padding: 1.5em;
}

h1 {
	text-align: center;
	font-family: Raleway, Helvetica, Arial, sans-serif;
	font-weight: normal;
	padding: 0.5em;
}

.top img, .top span {
	display: inline-block;
	vertical-align: middle;
}

.titulo,  .sub-titulo {
	font-family: 'Sorts Mill Goudy', 'Times New Roman', serif ;
	font-size: 56px;
	margin-right: 20px;
	position: relative;
	top: 40px;
}

.titulo {
	color: #093052;
}

.sub-titulo {
	color: #85AD30;
}

body .nav-container {
	background-color: #333;
	padding: 1em 0;
	text-align: left;
}

@media only screen and (min-width: 40.063em) {
	body .nav-container {
		text-align: center;
	}
}

body .top-bar {
	display: inline-block;
}

body .top-bar li {
	margin: 0;
	list-style-type: none;
	font-size: 1.3em;
}

nav {
	background-color: #333;
}

.nav-bar {
	margin: 0;
	text-align: center;
}

.nav-bar li {
	display: inline;
	padding-right: 2em;
	margin: 0;
}

.touch .nav-bar li a {
	font-size: 1.3em;
}

nav a, a:visited {
	font-style: italic;
	color: #BBB;
}

nav a:active, nav a:hover {
	color: #fff;
}

/* SERVICIOS */

.imagen-servicios {
	text-align: center
}

.imagen-servicios img {
	width: 470px;
	height: 409px;
}

.lista-servicios li {
	list-style-type: none;
}

/* ALIANZAS */
.alianzas #wrapper h3 {
	text-align: center;
	color: #999;
}
.alianzas .logo {
	margin-top: 5em;
	text-align: center;
}
.alianzas .logo img{
	width: 100px;
	height: 100px;
}

body.contabilidad p, body.impuestos p, body.comercial p, body.finanzas p, body.control-de-gestion p {
	text-align: center;
	font-style: italic;
	color: #777;
}

body.contabilidad h2, body.impuestos h2, body.comercial h2, body.finanzas h2, body.control-de-gestion h2 {
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 1.5em;
}
