.navbar-default.navbar-shrink .navbar-brand .logo {
  max-height: 45px;
}
.navbar-default.navbar-shrink .navbar-brand .cfr {
  font-size: 1em;
}
.navbar-default.navbar-shrink .navbar-brand .consultores {
  font-size: 0.8em;
}

.navbar-brand {
  padding-top: 10px
}

.navbar-brand .logo {
  max-height: 80px;
}

a.navbar-brand .cfr {
  font-family: "Roboto Slab", Helvetica, Sans;
  color: #064265;
  font-size: 1.3em;
  text-shadow:
     -1px -1px 0 #555,
      1px -1px 0 #555,
      -1px 1px 0 #555,
       1px 1px 0 #555;
}

a.navbar-brand .consultores {
  font-family: Lora, Serif;
  color: #9ABB3F;
  font-size: 1em;
  text-shadow:
     -1px -1px 0 #555,
      1px -1px 0 #555,
      -1px 1px 0 #555,
       1px 1px 0 #555;
}

header .intro-text .intro-keywords {
  margin-top: 2em;
  font-size: 24px;
}

.internal header {
  background: #222;

}

.internal header .intro-text {
  padding-top: 8em;
  padding-bottom: 1em;
}

.internal header .intro-text .intro-lead-in {
  font-size: 24px;
}

.internal header .intro-text .intro-heading {
  font-size: 32px;
}

.internal #servicios .container h2 {
  padding-top: 100px;
}

@media(min-width:768px) {
  .internal #servicios .container h2 {
    padding-top: 150px;
  }
}

.internal #servicios .navigation, .internal #servicios .lista-servicios {
  text-align: center;
  list-style: none;
}

.internal #servicios .navigation img {
  width: 470px;
  height: 409px;
  display: inline-block;
}
